# eclipse,vs code project files
.settings/
.classpath
.project
.code-workspace

# Maven
target/

# Binary / Jar files
jdbc-drivers

# GridGain Cluster secret properties
# In prod, one would not check in these properties, but build them for each environment
# Here, we will include them for sake of the example project
#sales.properties
